{% extends "@NovosgaScheduling/base.html.twig" %}

{% trans_default_domain 'NovosgaSchedulingBundle' %}

{% block body %}
    <div class="d-flex">
        <div>
            <h1>
                <i class="fa fa-address-book" aria-hidden="true"></i> {{ 'title'|trans }}
            </h1>
            <p>{{ 'subtitle'|trans }}</p>
        </div>
    </div>

    {% if entity.oid %}
        <div class="alert alert-info">
            Agendamento importado via integração. ID externo: <strong>{{ entity.oid }}</strong>.
        </div>
    {% endif %}

    {% if entity.dataConfirmacao %}
        <div class="alert alert-info">
            Confirmada presença do agendamento e senha gerada em <strong>{{ entity.dataConfirmacao|date('d/m/Y H:i:s') }}</strong>.
        </div>
    {% endif %}
        
    {{ form_start(form) }}

        {% include 'flashMessages.html.twig' %}

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                {{ form_row(form.data) }}
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                {{ form_row(form.hora) }}
            </div>
            {% if entity.id %}
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="mb-3">
                        <label class="form-label">{{ 'label.status'|trans }}</label>
                        <input type="text" class="form-control" value="{{ entity.situacao }}" disabled>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ form_row(form.servico) }}
            </div>
            <div class="col-12 col-lg-6">
                {{ form_label(form.cliente) }}
                <div class="input-group">
                    {{ form_widget(form.cliente) }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" data-bs-target="#clienteFormModal" data-bs-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex">
            {% if not entity.dataConfirmacao %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> 
                    {{ 'button.save'|trans }}
                </button>
            {% endif %}
            <a href="{{ path('novosga_scheduling_index') }}" class="btn btn-link text-decoration-none ms-2">
                <i class="fa fa-chevron-left"></i>
                {{ 'button.back'|trans }}
            </a>
        </div>

    {{ form_end(form) }}

    <div id="clienteFormModal" class="modal modal-lg fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="clienteForm" action="{{ path('novosga_scheduling_clientes_form') }}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Novo cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ render(path('novosga_scheduling_clientes_form')) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/novosgascheduling/js/script.js') }}"></script>
    <script src="{{ asset('bundles/novosgascheduling/js/tom-select.complete.min.js') }}"></script>
    <link href="{{ asset('bundles/novosgascheduling/css/tom-select.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/novosgascheduling/css/tom-select.bootstrap5.min.css') }}" rel="stylesheet">
    <script>
        const cliente = document.getElementById('{{ form.cliente.vars.id }}');
        const clienteForm = document.getElementById('clienteForm')

        new TomSelect("#{{ form.cliente.vars.id }}", {
            create: false,
            valueField: 'id',
	        labelField: 'value',
            searchField: 'value',
            placeholder: 'Digite para buscar cliente',
	        render: {
                no_results:function(data,escape){
                    return '<div class="no-results">Nenhum cliente encontrado</div>';
                },
            },
            load: function(query, callback) {
                var url = '{{ path("novosga_scheduling_clientes_autocomplete") }}?q=' + encodeURIComponent(query);
                fetch(url)
                    .then(response => response.json())
                    .then(json => {
                        callback(json);
                    }).catch(()=>{
                        callback();
                    });
            },
        });

        clienteForm.addEventListener('submit', async (evt) => {
            evt.preventDefault();

            const req = await fetch(clienteForm.getAttribute('action'), {
                method: 'post',
                body: new FormData(clienteForm),
            });

            const resp = await req.text();
            clienteForm.querySelector('.modal-body').innerHTML = resp;
        });
    </script>
{% endblock %}
