{% trans_default_domain 'NovosgaReportsBundle' %}

{% extends "skeleton.html.twig" %}

{% block title %}
    {{ relatorio.titulo }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgareports/css/relatorio.css') }}" />
{% endblock %}

{% block body_content %}
    <div id="report">
        <div class="container">
            <a href="javascript:window.print()" class="float-end btn btn-link d-print-none">
                <i class="fa fa-print"></i>
                {% trans %}Imprimir{% endtrans %}
            </a>
            <div id="report-header" class="d-flex align-items-center">
                <div>
                    <img src="{{ asset('images/novosga-navbar.png') }}">
                </div>
                <div>
                    <h1>{{ relatorio.titulo }}</h1>
                </div>
            </div>
        </div>
        <div id="report-body">
            {% include template %}
        </div>
        <div id="report-footer">
            <p><b>{{ relatorio.titulo }}</b> - {{ title }} v{{ version }}</p>
        </div>
    </div>
{% endblock %}
