{% extends "@NovosgaCustomers/base.html.twig" %}

{% trans_default_domain 'NovosgaCustomersBundle' %}

{% block body %}
    <div class="d-flex">
        <div>
            <h1>
                <i class="fa fa-address-book" aria-hidden="true"></i> {{ 'title'|trans }}
            </h1>
            <p>{{ 'subtitle'|trans }}</p>
        </div>
    </div>
        
    {{ form_start(form) }}

        {% include 'flashMessages.html.twig' %}

        <div class="row">
            <div class="col-md-5">
                {{ form_row(form.nome) }}

                {{ form_row(form.documento) }}

                {{ form_row(form.email) }}

                {{ form_row(form.telefone) }}

                {{ form_row(form.genero) }}

                {{ form_row(form.observacao) }}
            </div>
            <div class="col-md-6 offset-md-1">
                <h4>{{ 'label.customer_tickets'|trans }}</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>{{ 'label.ticket'|trans }}</th>
                            <th>{{ 'label.date'|trans }}</th>
                            <th>{{ 'label.status'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in atendimentos %}
                            <tr>
                                <td>{{ a.senha }}</td>
                                <td>{{ a.dataChegada|date('d/m/Y H:i') }}</td>
                                <td>{{ a.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> 
                {{ 'button.save'|trans }}
            </button>

            <a href="{{ path('novosga_customers_index') }}" class="btn btn-link text-decoration-none ms-2">
                <i class="fa fa-chevron-left"></i>
                {{ 'button.back'|trans }}
            </a>
        </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/novosgacustomers/js/script.js') }}"></script>
{% endblock %}
